<h2>Latest Issues Configuration</h2>
    <%= form_tag("/latest-issues/change") do %>
    <dl>
        <label><%= l :issues_count %></label>
        <input type="text" maxsize="2" name="count" value="<%= @setup.max_count %>"/>
    </dl><dl>
        <label>Qual lado você quer colocar o plugin??</label>
        <select name="side">
          <option value="left" <% if @setup.side == 'left' %>selected<% end %>>esquerda</option>
          <option value="right" <% if @setup.side == 'right' %>selected<% end %>>direita</option>
        </select>
   </dl>
   <dl><input type="submit" value="Save"/></dl>
  <% end %>

